<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/tablasyAngular.css">
		<!--bootstrap fa fa-navicon--> 
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="css/ccsPrincipal.css">
		<title>Inicio</title>
	</head>
	<body>
		 
		<nav  class="navbar navbar-expand-md navbar-light bg-info border-bottom border-secondary fixed-top ">
				
				<div class="container">
					<a href="inicio.html" class="navbar-brand text-dark fa fa-home iconos"></a>
					<button type="button" class="navbar-toggler"  data-toggle="collapse" data-target="#menu">
							<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="menu">
						<ul class="navbar-nav  ml-auto">
								<li class="nav-item dropdown"><a href="front.html" class="iconos2 nav-link fa fa-desktop dropdown-toggle" data-toggle="dropdown" > FRONT-END</a>
									<div class="dropdown-menu  bg-secondary ">
										<a href="front.html" class="dropdown-item ">¿En qué consiste?</a>
										<a href="front.html#framef" class="dropdown-item ">Frameworks</a>
									</div>
								</li>
								<li class="nav-item dropdown "><a href="back.html" class="iconos2 nav-link fa fa-database  dropdown-toggle"   data-toggle="dropdown" > BACK-END</a>
									<div class="dropdown-menu bg-secondary ">
										<a href="back.html" class="dropdown-item ">¿En qué consiste?</a>
										<a href="back.html#frameb" class="dropdown-item ">Frameworks</a>
									</div>
								</li>
								<li class="nav-item"><a href="#" class="iconos2 nav-link fa fa-font "> ANGULAR</a></li>
								<li class="nav-item dropdown"><a href="tablasBD.html" class="iconos2 nav-link fa fa-table dropdown-toggle" data-toggle="dropdown"> TABLAS</a>
									<div class="dropdown-menu bg-secondary ">
										<a href="tablasBD.html" class="dropdown-item ">Mostrar Tablas</a>
										<a href="seccionesBD.html" class="dropdown-item ">Mostrar Secciones</a>
									</div>
								</li>	
						</ul>
					</div>
				</div>
				
		</nav>

		
					
		<section class="container  lead my-5 ">
            <header class="jumbotron bg-secondary text-white-50 font-weight-bolder">
                Esta es la página de inicio del framework Javascript Angular, una de las herramientas más 
                poderosas para desarrollar aplicaciones frontend modernas.
            </header>
            <article class="mb-5 pb-5">
                <p>Angular es un framework Javascript potente, muy adecuado para el desarrollo de aplicaciones 
                frontend modernas, de complejidad media o elevada. El tipo de aplicación Javascript que se 
                desarrolla con Angular es del estilo SPA (Single Page Application) o también las denominadas 
                PWA (Progressive Web App).</p>
                <p>El framework Angular ofrece una base para el desarrollo de aplicaciones robustas, escalables 
                y optimizadas, que promueve además las mejores prácticas y un estilo de codificación homogéneo y 
                de gran modularidad.</p>
                <p>Aunque ofrece principalmente una base para el desarrollo de la parte frontal, la programación 
                Javascript del lado del cliente, también aborda técnicas de desarrollo de la parte del backend, 
                para la implementación del Server Side Rendering. A esta parte se le llama Angular Universal.</p>
                <p>El desarrollo en Angular se hace por medio de TypeScript (aunque también se podría desarrollar
                con Javascript, todas las guías y recomendaciones se basan en usar TypeScript), un superset del 
                lenguaje Javascript que ofrece muchas herramientas adicionales al lenguaje, como el tipado estático 
                o los decoradores.</p>

            </article>

            <article>
                <ul class="pagination justify-content-center">
                   
                        <li class="page-item"><button class="page-link" >BEGINIG</button></li>
                        <li class="page-item"><button class="page-link" >previous</button></li>
                        <li class="page-item"><button class="page-link" >next</button></li>
                        <li class="page-item"><button class="page-link" >END</button></li>
                   
                </ul>
            </article>
           
            <article class="row">
                <main class="embed-responsive embed-responsive-21by9 col-lg-10 container">
                    <iframe id="contenidos" name="contenidos" class="embed-responsive-item" src="http://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=1&codigo=1&inicio=0"></iframe>
                </main>
                <div class="col-lg-2">
                    <a class="title" href="http://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=1&codigo=1&inicio=0" target="contenidos"><b>Herramientas para angular</b></a>
                    <a class="title" href="http://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=2&codigo=2&inicio=0" target="contenidos"><b>Creación proyecto</b></a>
                    <a class="title" href=http://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=3&codigo=3&inicio=0" target="contenidos"><b>Archivos y carpetas básicas</b></a>
                    <a class="title" href="http://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=4&codigo=4&inicio=0" target="contenidos"><b>Interpolación en los archivos HTML de Angular</b></a>
                    <a class="title" href="http://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=5&codigo=5&inicio=0" target="contenidos"><b>Directivas *ngIf y *ngFor</b></a>
                    <a class="title" href="http://www.tutorialesprogramacionya.com/angularya/detalleconcepto.php?punto=6&codigo=6&inicio=0" target="contenidos"><b>Captura de eventos</b></a>
            
                    <a href="http://www.tutorialesprogramacionya.com/angularya/" ><b>Para sababer más</b></a>
                </div>
            </article>
       
        </section>
    
        
		
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
    <script>
        var carrusel=$(".title").eq(0);
        $(document).ready(function(){
            $(".page-link").click(function(){
                var todosEnlaces= $(".title");
                var botonPulsado=$(this).text();
                
                
                switch(botonPulsado)
                {
                    case "BEGINIG":
                        carrusel=todosEnlaces.eq(0);
                        $("iframe").attr("src", carrusel.attr("href"));
                        break;
                    
                    case "END":
                        carrusel=todosEnlaces.eq(todosEnlaces.length-1);
                        $("iframe").attr("src", carrusel.attr("href"));
                        break;
                    
                    case "previous":
                    console.log(carrusel);
                        if(carrusel.attr("href")!=todosEnlaces.eq(0).attr("href"))
                        {
                            carrusel=carrusel.prev(".title");
                            $("iframe").attr("src", carrusel.attr("href"));
                        }
                        break;
                    
                    case "next":
                    console.log(carrusel);
                        if(carrusel.attr("href")!=todosEnlaces.eq(todosEnlaces.length-1).attr("href"))
                        {
                            carrusel=carrusel.next(".title");
                            $("iframe").attr("src", carrusel.attr("href"));
                        }



                }


            });

            
        });

        $(".title").click(function(){
                
                carrusel=$(this);
                console.log(carrusel);

        });
        
    </script>



</html>
