<!DOCTYPE html>
<html lang="es" ng-app="APP">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="css/ccsPrincipal.css">
		<link rel="stylesheet" href="css/filosofias.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		<script src="controlador.js"></script>
		<title>Inicio</title>
	</head>
	<body>
		 
		<nav  class="navbar navbar-expand-md navbar-light bg-info border-bottom border-secondary fixed-top ">
				
				<div class="container">
					<a href="inicio.html" class="navbar-brand text-dark fa fa-home iconos"></a>
					<button type="button" class="navbar-toggler"  data-toggle="collapse" data-target="#menu">
							<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="menu">
						<ul class="navbar-nav  ml-auto">
								<li class="nav-item dropdown"><a href="#" class="iconos2 nav-link fa fa-desktop dropdown-toggle" data-toggle="dropdown" > FRONT-END</a>
									<div class="dropdown-menu  bg-secondary ">
										<a href="front.html" class="dropdown-item ">¿En qué consiste?</a>
										<a href="front.html#framef" class="dropdown-item ">Frameworks</a>
									</div>
								</li>
								<li class="nav-item dropdown "><a href="#" class="iconos2 nav-link fa fa-database  dropdown-toggle"   data-toggle="dropdown" > BACK-END</a>
									<div class="dropdown-menu bg-secondary ">
										<a href="#" class="dropdown-item ">¿En qué consiste?</a>
										<a href="#frameb" class="dropdown-item ">Frameworks</a>
									</div>
								</li>
								<li class="nav-item"><a href="angular.html" class="iconos2 nav-link fa fa-font " > ANGULAR</a></li>
								<li class="nav-item dropdown"><a href="tablasBD.html" class="iconos2 nav-link fa fa-table dropdown-toggle" data-toggle="dropdown"> TABLAS</a>
									<div class="dropdown-menu bg-secondary ">
										<a href="tablasBD.html" class="dropdown-item ">Mostrar Tablas</a>
										<a href="seccionesBD.html" class="dropdown-item ">Mostrar Secciones</a>
									</div>
								</li>	
						</ul>
					</div>
				</div>
				
		</nav>

		<section class="row lead">

			<article class="col-sm-10 m-auto">
				<header class="my-5">
					<h2>¿En qué consiste?</h2>
				</header>
				<p>
					El backend es la parte del desarrollo web que se encarga de que toda la lógica de una página web  
					funcione. Se trata del conjunto de acciones que pasan en una web pero que no vemos como, por ejemplo, 
					la comunicación con el servidor.
				</p>	
				<p class="mb-5">
					Este término es utilizado para referirse al área lógica de toda página web. Nos referimos a la 
					arquitectura interna del sitio que asegura que todos elementos desarrollen la función correcta. 
					No está visible a ojos del usuario y no incluye ningún tipo de elemento gráfico.
				</p>	
				<p class="mb-5">
					Los encargados del desarrollo del Back End deben manejar eficientemente varios códigos de programación,
					en lenguajes como Java, PHP o .Net. Estos desarrolladores deben ser meticulosos, dado que un descuido 
					en su trabajo se traduce en la caída de la página.
				</p>

			</article>

			<article ng-controller="controlador"  class="col-sm-10 row m-auto frameworks bg-info" >

				<header class="my-5 col-sm-8 m-auto p-5" >
					<h2 id="frameb">Frameworks</h2>
					<div ng-repeat="obj in listaJson" ng-click="seeDate(obj)" ng-show="obj.tipo=='back'" class="m-5 pl-5 ">
						{{obj.nombre}}
						<div ng-show="verDatos[obj.nombre]==true" class="datosFrame">
							
							<ul class="lista1">
								<li>Lanzamiento: {{obj.lanzamiento}}</li>
								<li>Compatibilidad: {{obj.compatibilidad}}</li>
							</ul>	
						</div>
					</div>

				</header>
				<div class="col-sm-4 p-2 " >
					<div class="caja_buscador">
						<a href="#frameb"><i class="fa fa-search p-2" ng-click="buscar()"aria-hidden="true" ></i></a>
						<input  class="buscador " type="search" ng-model="buscador" placeholder="search"/>
					</div>
				</div>
				
			</article>

			
		</section>
	
		
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		
			
    </body>
    



</html>
